{% extends 'base.html' %}

{% block content %}
  <h1>Your bookings</h1>
  <h2>Welcome dear {{ user }}</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Room Category</th>
        <th>From</th>
        <th>To</th>
        <th>Beds</th>
        <th>Capacity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in booking_list %}
      <tr>
        <td>{{ booking.get_room_category }}</td>
        <td>{{ booking.check_in }}</td>
        <td>{{ booking.check_out }}</td>
        <td>{{ booking.room.beds }}</td>
        <td>{{ booking.room.capacity }}</td>
        <td>
          <form id="booking-form" action="{% url 'hotelbooking:CancelBookingView' booking.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Cancel Booking</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
