{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
<p><h1> Room detaillll:</h1></p>


<li>{{ room_category }}</li>


    

<h2>Django Form</h2>
<form action="" method="POST">

    <input type="hidden" name="csrfmiddlewaretoken" value="Rw9N1PqWjgLT3kT5pKIokX4d359oufmaJizuBvYcAjFpIczkt4NFEleXtTZuhMsw">
    <p>
  </p>
    {% csrf_token %}
  <p>
    <label for="id_check_in">Check in:</label>
    <input type="datetime-local" name="check_in" required id="id_check_in">
  </p>

  <p>
    <label for="id_check_out">Check out:</label>
    <input type="datetime-local" name="check_out" required id="id_check_out">
  </p>

<button type="submit" class="btn btn-primary">Book room</button>

</form>



{% endblock %}